{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="my-3 border-bottom pb-2">바코드 등록</h1>
    <div class="d-flex justify-content-center">

        <form method="post" class="post-form my-3" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div style="width:400px; height:400px;"><img id="tempImage" src=""></a></div>
            <button type="submit" class="btn btn-primary my-3">업로드</button>
        </form>
    </div>
</div>
<script>
 function imageView(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#tempImage').attr('src', e.target.result)
                 .width(400)
                 .height(400);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
{% endblock %}