{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container px-4 py-5">

        <div id="announcement">
            <h2 class="pb-2 border-bottom">중고책거래</h2>
        </div>
        <div class="row">
            <!-- 성길씨 Q&A에서 가져옴. 그리드: 왼쪽 2/12(16.67%) 영역 -->
            <!-- class = left-menu 삭제 -->
            <aside class="col-lg-2">
                <!-- class=p-3 bg-white style=width: 180px; 삭제 -->
                <div class="flex-shrink-0" style="font-size: 16px;">
                    <ul class="list-unstyled ps-0">
                        <li class="mb-1">
                            <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse"
                                    data-bs-target="#home-collapse" aria-expanded="true">
                                <!-- 카테고리 눌렀다면 사이드바 큰 글씨로 -->
                                {% if current_category.slug %}
                                <h3>{{ current_category.slug }}</h3>
                                {% else %}
                                <!-- 카테고리를 누르지 않았다면 -->
                                <h3>전체글</h3>
                                {% endif %}
                            </button>
                            <div class="collapse show" id="home-collapse" style="">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <!-- 전체글 -->
                                    <li><a href="{% url 'tradebook:tradebook_list' %}" class="link-dark rounded
                                    {% if not current_category %} selected{% endif %}">전체글</a>
                                    </li>
                                    <!-- 카테고리 이름으로 리스트 설정 -->
                                    {% for category in trade_category %}
                                    <li><a href="{{ category.get_absolute_url }}" class="link-dark rounded
                                    {% if current_category == category %} selected{% endif %}">
                                        {{ category.name }}
                                    </a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </aside>
            <section id="community" class="col-lg-8">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>거래상태</td>
                    <td>번호</td>
                    <td>제목</td>
                    <td>작성자</td>
                    <td>작성일</td>
                    <td>조회수</td>
                </tr>
                </thead>
                <tbody>
                {% if trade_list %}
                {% for trade in trade_list %}
                <tr>
                    {% if trade.trade_category %}
                        {% if trade.trade_category.slug == "팝니다" %}
                            <td><span class="badge bg-primary">{{ trade.trade_category }}</span></td>
                        {% elif trade.trade_category.slug == "삽니다" %}
                            <td><span class="badge bg-danger">{{ trade.trade_category }}</span></td>
                        {% elif trade.trade_category.slug == "거래중" %}
                            <td><span class="badge bg-success">{{ trade.trade_category }}</span></td>
                        {% else %}
                            <td><span class="badge bg-dark">{{ trade.trade_category }}</span></td>
                        {% endif %}
                    {% endif %}
                    <td>{{ trade.id }}</td>
                    <td>
                        <a href="{% url 'tradebook:tradebook_detail' trade.id %}">
                            {{ trade.title }}
                        </a>
                    </td>
                    <td>{{ trade.writer }}</td>
                    <td>{{ trade.pub_date }}</td>
                    <td>{{ trade.hit }}</td>
                    <td></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="8" class="text-center">게시글이 없습니다.</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
            <!-- 페이지 처리 영역 -->
            <ul class="pagination justify-content-center">
                <!-- 이전 페이지 -->
                {% if trade_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ trade_list.previous_page_number }}"
                    >
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="">
                                {% endif %}
                                <i class="fa-solid fa-backward"></i>
                            </a>
                        </li>
                        <!-- 현재 페이지 -->
                        {% for page_number in trade_list.paginator.page_range %}
                        {% if page_number == trade_list.number %}
                        <li class="page-item active">
                            {% else %}
                        <li class="page-item">
                            {% endif %}
                            <a class="page-link" data-page="{{ page_number }}">
                                {{ page_number }}
                            </a>
                        </li>
                        {% endfor %}
                        <!-- 다음 페이지 -->
                        {% if trade_list.has_next %}
                        <li class="page-item">
                            <a class="page-link" data-page="{{ trade_list.next_page_number }}">
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="">
                                        {% endif %}
                                        <i class="fa-solid fa-forward"></i>
                                    </a>
                                </li>
            </ul>

            <div class="col-4" style="margin: 0 auto;">
                <div class="input-group">
                    <input type="text" class="kw form-control" value="{{ kw|default_if_none:''}}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
                    </div>
                </div>
            </div>
            {% if user.is_authenticated %}
            <div id="btn_write" class="text-end">
                <a href="{% url 'tradebook:tradebook_create' %}" class="btn-a btn btn-primary">글쓰기</a>
            </div>
            {% endif %}

            <form action="" method="get" id="searchForm">
                <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
                <input type="hidden" id="page" name="page" value="{{ page }}">
            </form>
        </div>
    </section>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
$(function(){
    $('.page-link').click(function(){
        $('#page').val($(this).data('page'));
        $('#searchForm').submit();
    });

    $('#btn_search').click(function(){
        $('#kw').val($('.kw').val());
        $('#page').val(1);
        $('#searchForm').submit();
    });
});

</script>
{% endblock %}
