
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container px-4 py-5">
    <section id="detail">
        <h2 class="pb-2 border-bottom">중고책거래</h2>
        <table class="table my-3">
            <tr>
                <!-- 제목 -->
                <th colspan="4">{{ trade_post_detail.title }}</th>
            </tr>
            <tr>
                {% if trade_post_detail.trade_category %}
                    {% if trade_post_detail.trade_category.slug == "팝니다" %}
                            <td><span class="badge bg-primary">{{ trade_post_detail.trade_category }}</span></td>
                        {% elif trade_post_detail.trade_category.slug == "삽니다" %}
                            <td><span class="badge bg-danger">{{ trade_post_detail.trade_category }}</span></td>
                        {% elif trade_post_detail.trade_category.slug == "거래중" %}
                            <td><span class="badge bg-success">{{ trade_post_detail.trade_category }}</span></td>
                        {% else %}
                            <td><span class="badge bg-dark">{{ trade_post_detail.trade_category }}</span></td>
                        {% endif %}
                {% endif %}
                <!-- post 정보 -->
                <td>글쓴이: {{ trade_post_detail.writer }}</td>
                <!-- 수정된 경우 수정일시, 아닌 경우 작성일시 표시 -->
                <td>{% if trade_post_detail.modify_date %}
                    수정: {{ trade_post_detail.modify_date }}
                    {% else %}
                    작성: {{ trade_post_detail.pub_date }}
                {% endif %}
                </td>
                <td>조회수: {{ trade_post_detail.update_counter }}</td>
            </tr>
            <tr>
                <td colspan="4" class="text-start">
                    {{ trade_post_detail.content|safe }}
                    {% if trade_post_detail.photo %}
                        <img src="{{ trade_post_detail.photo.url }}">
                    {% endif %}
                </td>
            </tr>
        </table>

        <div id="btn" class="text-center">
            <!-- post작성자가 자기 글을 봤을 때 - 삭제, 수정 -->
            {% if trade_post_detail.writer == request.user %}
                <!-- 삭제시 자바스크립트 연결 -->
            <a href="#"
               data-uri="{% url 'tradebook:tradebook_delete' trade_post_detail.id %}"
               class="delete btn-a btn btn-primary">삭제</a>
            <a href="{% url 'tradebook:tradebook_list' %}" class="btn-a btn btn-primary">목록</a>
            <a href="{% url 'tradebook:tradebook_modify' trade_post_detail.id %}" class="btn-a btn btn-primary">수정</a>
            <!-- post작성자가 아닌 사람이 글을 봤을 때 -->
            {% else %}
            <a href="{% url 'tradebook:tradebook_list' %}" class="btn-a btn btn-primary">목록</a>
            {% endif %}
        </div>
    </section>
    <div id="comment-container" class="my-3">
        <!-- 댓글 내용 -->
        {% for comment in trade_post_detail.comment_set.all %}
        <div id="comment" style="border: 1px solid #ccc">
        <p>{{ comment.content }}</p>
        <p>
            - {{ comment.trade_author }}, {{ comment.pub_date }}
        </p>
        {% if request.user == comment.trade_author %}
            <a href="{% url 'tradebook:comment_modify' comment.id %}">수정</a>
            <a href="#" class="delete"
               data-uri="{% url 'tradebook:comment_delete' comment.id %}">삭제</a>
        {% endif %}
        </div>
        {% endfor %}
    </div>
    <div>
        <a href="{% url 'tradebook:comment_create' trade_post_detail.id %}"
        class="small">댓글 추가</a>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function() {
        // delete 클래스를 클릭하면
        $('.delete').click(function() {
            // 경고창
            if(confirm('정말 삭제하시겠습니까?')) {
                // uri로 이동
                location.href=$(this).data('uri');
            }
        });
    });
</script>
{% endblock %}