{% extends 'base.html' %}

<!-- 템플릿 필터 적용을 위해 추가 -->
{% load static %}

{% block title %} - Q&A{% endblock %}

{% block content %}
<div class="container px-4 py-5">
    <div id="announcement">
        <div class="pb-2 border-bottom">
            <h2>고객센터<br>
                <p style="font-size:1.3rem">Q&A</p></h2>
            <strong><p style="font-size:0.75rem; color:#ac2c38b5">
                * 단순비방, 비인격적인 용어 기재시 임의삭제 될 수 있습니다.<br>
                * 주말, 공휴일, 평일 근무시간(08:30~17:30) 이후 문의에 대해서는 답변이 지연될 수 있습니다.</p></strong>

            <hr>
        </div>
    </div>
    <div class="row">
     {% include 'custom/custom_qnamenu.html' %}
        <section id="help_list" class="col-lg-8">
            {% if request.user.is_superuser %}
            <h4>관리자 게시판 창입니다.</h4>
            <h6>제목이나 내용, 유저아이디를 검색해주세요.</h6>
            {% else %}
            <h4>{{ request.user }}님의 Q&A게시판입니다.</h4>
            <h6>제목이나 내용을 검색해주세요.</h6>
            {% endif %}
            <form method="GET" action="{% url 'custom:help_list' %}" class="mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" name="query" placeholder="검색어 입력" value="{{ query }}">
                    <button type="submit" class="btn btn-primary">검색</button>
                </div>
            </form>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" style="font-size: 0.9rem;">상태</th>
                    <th scope="col" style="font-size: 0.9rem;">No</th>
                    <th scope="col" style="font-size: 0.9rem;">제목</th>
                    <th scope="col" style="font-size: 0.9rem;">고객명</th>
                    <th scope="col" style="font-size: 0.9rem;">작성일</th>
                    <th scope="col" style="font-size: 0.9rem;">삭제</th>
                </tr>
                </thead>
                <tbody>
                {% if page_obj %}
                <!-- 포스트 가져옴 -->
                {% for help in page_obj %}
                <tr>
                    <td>
                        {% if help.answered %}
                        <!-- 답변이 있는 경우 -->
                        <img id="yes-icon" src="{% static 'greenbooks/images/yes.png' %}" alt="확인">
                        {% else %}
                        <img id="no-icon" src="{% static 'greenbooks/images/no.png' %}" alt="대기">
                        {% endif %}
                    </td>
                    <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                    <td class="title">
                        <a href="{% url 'custom:help_view' help.id %}">{{ help.title }}</a>
                    </td>
                    <td>{{ help.author }}</td>
                    <td>{{ help.pub_date }}</td>
                    <td class="delete">
                        <a href="{% url 'custom:help_delete' help.id %}">
                            <img id="delete-icon1" src="{% static 'greenbooks/images/delete.png' %}" alt="휴지통">
                        </a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <!-- 리스트가 없으면 -->
                <tr>
                    <td colspan="6" class="text-center">게시글이 없습니다.</td>
                </tr>
                {% endif %}
                </tbody>
            </table>

            <div class="pagination">
                <!-- 이전 페이지 버튼 -->
                {% if page_obj.has_previous %}
                    <a href="?page=1{% if query %}&query={{ query }}{% endif %}" class="pagination-btn">&laquo;</a>
                    <a href="?page={{ page_obj.previous_page_number }}{% if query %}&query={{ query }}{% endif %}" class="pagination-btn">&lsaquo;</a>
                {% else %}
                    <span class="pagination-btn disabled">&laquo;</span>
                    <span class="pagination-btn disabled">&lsaquo;</span>
                {% endif %}

                <!-- 페이지 번호 -->
                {% for i in page_obj.paginator.page_range%}
                    {% if i == page_obj.number %}
                        <a href="?page={{ i }}{% if query %}&query={{ query }}{% endif %}" class="pagination-btn current-page">{{ i }}</a>
                    {% else %}
                        <a href="?page={{ i }}{% if query %}&query={{ query }}{% endif %}" class="pagination-btn">{{ i }}</a>
                    {% endif %}
                {% endfor %}

                <!-- 다음 페이지 버튼 -->
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}{% if query %}&query={{ query }}{% endif %}" class="pagination-btn">&rsaquo;</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}{% if query %}&query={{ query }}{% endif %}" class="pagination-btn">&raquo;</a>
                {% else %}
                    <span class="pagination-btn disabled">&rsaquo;</span>
                    <span class="pagination-btn disabled">&raquo;</span>
                {% endif %}
            </div>

            {% if not request.user.is_superuser %}
            <div id="btn_write" class="text-end mt-3">
                <a href="{% url 'custom:help_write' %}" class="btn-a btn btn-primary">질문 등록</a>
            </div>
            {% endif %}
        </section>
    </div>
</div>
{% endblock %}
