{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container px-4 py-5">
        <div class="board_title">
                <strong>공지사항</strong>
                <p>안녕하세요 그린24 공지사항 게시판입니다.</p>
        </div>
         {% include 'custom/custom_menu.html'%}



            <section id="help_list" class="col-lg-8">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td class="num">번호</td>
                            <td class="title">제목</td>

                            <td class="date">작성일</td>
                            <td class="count">조회</td>
                        </tr>
                    </thead>
                    {% if help_list %}
                    <!-- 포스트 가져옴 -->
                        {% for help in help_list %}
                            <tbody>
                            <tr>
                                <td class="num">{{ help.id }}</td>
                                <td class="title"><a href="{% url 'custom:help_view' help.id %}">{{ help.title }}</a></td>

                                <td class="date">{{ help.pub_date }}</td>
                                <td class="count">{{ help.views }}</td>
                            </tr>
                            </tbody>
                        {% endfor %}
                </table>
            </section>

                {% else %}
                <p>포스트가 없습니다.</p>
                {% endif %}
            #
            <div class="board_page">
                <a href="#" class="bt first"><<</a>
                <a href="#" class="bt prev"><</a>
                <a href="#" class="num on">1</a>
                <a href="#" class="num">2</a>
                <a href="#" class="num">3</a>
                <a href="#" class="num">4</a>
                <a href="#" class="num">5</a>
                <a href="#" class="bt next">></a>
                <a href="#" class="bt last">>></a>
            </div>
            <div class="bt_wrap">
                <a href="{% url 'custom:help_write' %}" class="on">등록</a>
                <!--<a href="#">수정</a>-->
            </div>
        </div>
    </div>

 {% include 'menubar.html'%}
{% endblock %}