<div class="accordion accordion-flush" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <p class="qnatitle">Q: 게시판에서 무엇을 할 수 있나요?</p>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>A: 사용자는 로그인 후, 게시판에서 새로운 글쓰기 버튼을 클릭하여 제목과 내용을 작성하고 게시할 수 있습니다.</strong>
                <br> 자신의 게시물을 사진과 수정이 가능하고 다른 사용자가 작성한 게시글에 댓글을 달거나 추천 표시를 할 수도 있습니다.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <p class="qnatitle">Q: 독후감 게시판에 글을 작성하려면 어떻게 해야 하나요?</p>
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>A: 독후감 게시판에 접속하여 '새 글 작성' 버튼을 클릭하고, 제목과 내용을 입력한 후에는 사진, 표같은 추가적인 콘텐츠를 업로드할 수 있습니다.</strong>
                <br> 독후감 게시판에 글을 작성하려면 해당 게시판으로 접속한 후 '새 글 작성' 버튼을 클릭하세요.
                제목과 내용을 입력한 후에는 필요에 따라 사진, 표 또는 네이버 블로그 API를 사용하여 추가적인 콘텐츠를 업로드할 수 있습니다. 자신의 독서 경험을 공유해보세요.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <p class="qnatitle">Q: 독후감 게시물을 수정 또는 삭제하려면 어떻게 해야 하나요?</p>
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>A: 독후감 게시물을 수정 또는 삭제하려면 해당 게시물을 열어 수정 또는 삭제 옵션을 선택하세요.</strong>
                <br> 독후감 게시물을 수정 또는 삭제하려면 해당 게시물을 열어 수정 또는 삭제 옵션을 선택하세요. 수정 시에는 내용을 수정하고 저장하여 변경된 내용을 적용하세요. 삭제 시에는 삭제 클릭하여 게시물을 삭제할 수 있습니다. 실수를 방지하기 위해 삭제 시에는 한 번 더 확인해주세요.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <p class="qnatitle">Q:  독후감 게시판에서 다른 사용자와의 대화는 어떻게 할 수 있나요?</p>
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>A: 독후감 게시판에서 다른 사용자와의 대화를 원한다면 해당 게시물에 댓글을 작성하여 소통할 수 있습니다. 다른 사용자의 독후감에 댓글을 남기고 의견을 나누어 보세요.</strong>
                <br> 독후감 게시판에서 다른 사용자와의 대화는 해당 게시물에 댓글을 작성하여 할 수 있습니다. 다른 사용자의 독후감에 댓글을 남기고 의견을 나누어 보세요. 책에 대한 공감이나 질문, 추가적인 정보 제공 등을 통해 활발한 소통을 이뤄보세요.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <p class="qnatitle">Q: 중고서적 검색과 구매 방법은 무엇인가요?</p>
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>A: 사용자는 키워드를 입력하여 중고서적을 검색하고, 구매하기 버튼을 클릭하여 구매할 수 있습니다.</strong>
                <br> 검색 결과는 관련 서적의 제목, 저자, 카테고리에 따라 표시됩니다.<br>
                ocr로 책 검색을 원하시면 검색기능에서 책의 바코드를 찍어 사진을 등록해주세요
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <p class="qnatitle">Q: 바코드 스캔 시에 인식이 어렵거나 정확하지 않을 때는 어떻게 해야 하나요?</p>
            </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>A:  바코드 스캔 시 인식이 어렵거나 정확하지 않을 경우, 다른 각도에서 재시도하거나 조명을 조절하여 시도해보세요. </strong>
                <br> 바코드 스캔 시에 인식이 어렵거나 정확하지 않을 수 있습니다. 이 경우에는 다른 각도에서 스캔을 재시도하거나, 조명을 조절하여 시도해보세요. 만약 여전히 인식에 문제가 있다면, 바코드 번호를 직접 입력하여 시가를 검색할 수도 있습니다.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                <p class="qnatitle">Q: 독후감 게시판에서 부적절한 내용이나 스팸또는 댓글을 신고하려면 어떻게 해야 하나요?</p>
            </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>A: 독후감 게시판에서 부적절한 내용이나 스팸 또는 댓글을 발견하면 해당 게시물을 캡처해 신고할 수 있습니다. </strong>
                <br> 독후감 게시판에서 부적절한 내용이나 스팸또는 댓글을 발견하면 해당 게시물을 찍어 Q&A게시판을 통해 관리자에게 보내주세요. 신고된 게시물과 해당 유저는 관리자가 확인한 후 적절한 조치를 취할 것입니다.
            </div>
        </div>
    </div>

</div>