<div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <p class="qnatitle">Q: 게시글 작성 방법은?</p>
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
         data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>A: 사용자는 로그인 후, 게시판에서 새로운 게시글 작성 버튼을 클릭하여 제목과 내용을 작성하고 게시할 수 있습니다.</strong><br> 다른 사용자가 작성한 게시글에 댓글을 달거나 추천 표시를 할 수도 있습니다.
        </div>
    </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <p class="qnatitle">Q: 중고서적 검색과 구매 방법은 무엇인가요?</p>
        </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
         data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>A: 사용자는 키워드를 입력하여 중고서적을 검색하고, 구매하기 버튼을 클릭하여 구매할 수 있습니다.</strong>
            <br> 검색 결과는 관련 서적의 제목, 저자, 카테고리에 따라 표시됩니다.<br>
            ocr로 책 검색을 원하시면 검색기능에서 책의 바코드를 찍어 사진을 등록해주세요
        </div>
    </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <p class="qnatitle">Q: 중고서적 검색과 구매 방법은 무엇인가요?</p>
        </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
         data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>A: 사용자는 키워드를 입력하여 중고서적을 검색하고, 구매하기 버튼을 클릭하여 구매할 수 있습니다.</strong>
            <br> 검색 결과는 관련 서적의 제목, 저자, 카테고리에 따라 표시됩니다.<br>
            ocr로 책 검색을 원하시면 검색기능에서 책의 바코드를 찍어 사진을 등록해주세요
        </div>
    </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <p class="qnatitle">Q: 중고서적 검색과 구매 방법은 무엇인가요?</p>
        </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
         data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>A: 사용자는 키워드를 입력하여 중고서적을 검색하고, 구매하기 버튼을 클릭하여 구매할 수 있습니다.</strong>
            <br> 검색 결과는 관련 서적의 제목, 저자, 카테고리에 따라 표시됩니다.<br>
            ocr로 책 검색을 원하시면 검색기능에서 책의 바코드를 찍어 사진을 등록해주세요
        </div>
    </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <p class="qnatitle">Q: 중고서적 검색과 구매 방법은 무엇인가요?</p>
        </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
         data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>A: 사용자는 키워드를 입력하여 중고서적을 검색하고, 구매하기 버튼을 클릭하여 구매할 수 있습니다.</strong>
            <br> 검색 결과는 관련 서적의 제목, 저자, 카테고리에 따라 표시됩니다.<br>
            ocr로 책 검색을 원하시면 검색기능에서 책의 바코드를 찍어 사진을 등록해주세요
        </div>
    </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <p class="qnatitle">Q: 중고서적 검색과 구매 방법은 무엇인가요?</p>
        </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
         data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>A: 사용자는 키워드를 입력하여 중고서적을 검색하고, 구매하기 버튼을 클릭하여 구매할 수 있습니다.</strong>
            <br> 검색 결과는 관련 서적의 제목, 저자, 카테고리에 따라 표시됩니다.<br>
            ocr로 책 검색을 원하시면 검색기능에서 책의 바코드를 찍어 사진을 등록해주세요
        </div>
    </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header" id="headingSeven">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            <p class="qnatitle">Q: 중고서적 검색과 구매 방법은 무엇인가요?</p>
        </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
         data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>A: 사용자는 키워드를 입력하여 중고서적을 검색하고, 구매하기 버튼을 클릭하여 구매할 수 있습니다.</strong>
            <br> 검색 결과는 관련 서적의 제목, 저자, 카테고리에 따라 표시됩니다.<br>
            ocr로 책 검색을 원하시면 검색기능에서 책의 바코드를 찍어 사진을 등록해주세요
        </div>
    </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header" id="headingEight">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            <p class="qnatitle">Q: 중고서적 검색과 구매 방법은 무엇인가요?</p>
        </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
         data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>A: 사용자는 키워드를 입력하여 중고서적을 검색하고, 구매하기 버튼을 클릭하여 구매할 수 있습니다.</strong>
            <br> 검색 결과는 관련 서적의 제목, 저자, 카테고리에 따라 표시됩니다.<br>
            ocr로 책 검색을 원하시면 검색기능에서 책의 바코드를 찍어 사진을 등록해주세요
        </div>
    </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header" id="headingNine">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            <p class="qnatitle">Q: 중고서적 검색과 구매 방법은 무엇인가요?</p>
        </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
         data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>A: 사용자는 키워드를 입력하여 중고서적을 검색하고, 구매하기 버튼을 클릭하여 구매할 수 있습니다.</strong>
            <br> 검색 결과는 관련 서적의 제목, 저자, 카테고리에 따라 표시됩니다.<br>
            ocr로 책 검색을 원하시면 검색기능에서 책의 바코드를 찍어 사진을 등록해주세요
        </div>
    </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header" id="headingTen">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            <p class="qnatitle">Q: 중고서적 검색과 구매 방법은 무엇인가요?</p>
        </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
         data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>A: 사용자는 키워드를 입력하여 중고서적을 검색하고, 구매하기 버튼을 클릭하여 구매할 수 있습니다.</strong>
            <br> 검색 결과는 관련 서적의 제목, 저자, 카테고리에 따라 표시됩니다.<br>
            ocr로 책 검색을 원하시면 검색기능에서 책의 바코드를 찍어 사진을 등록해주세요
        </div>
    </div>
</div>
