<div class="accordion accordion-flush" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <p class="qnatitle">Q: 중고서적 판매 등록 절차는?</p>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>A: 판매자는 로그인 후, 중고거래게시판을 클릭하여 중고서적 정보를 입력하여 등록할 수 있습니다.</strong><br> 제목, 가격 등 중요 정보를 입력하고 상세 설명과 사진을 추가할 수 있습니다.
                 또한 홈페이지내의 ocr검색기능을 통해 시세를 통한 합리적이 가격으로 판매 가능합니다.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <p class="qnatitle">Q: 어떻게 책의 가격을 조회할 수 있나요?</p>
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>A: 책 검색 기능을 이용하여 해당 책의 가격을 확인할 수 있습니다.</strong>
                <br>  원하는 책의 제목이나 OCR을 통해 검색하면 해당 책의 가격 정보를 확인할 수 있습니다. 가격 정보를 비교하여 가장 합리적인 가격으로 구매할 수 있습니다.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <p class="qnatitle">Q: 상품을 구매하기 위해 어떻게 해야 하나요?</p>
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>A: 제품 페이지에서 관심 있는 상품에 대해 댓글을 달고, 전화번호를 통해 판매자와 직접 연락하여 구매할 수 있습니다.</strong>
                    상품을 구매하려면 해당 상품의 제품 페이지로 이동하세요. 상품에 대한 관심을 표시하기 위해 댓글을 작성하고,
                판매자와 연락하기 위해 제공된 전화번호를 사용하여 직접 연락하세요.

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <p class="qnatitle">Q: 어떻게 중고거래 상대방과 연락할 수 있나요?</p>
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>A: 사용자는 키워드를 입력하여 중고서적을 검색하고, 댓글을 달아서 구매를 원한다는 표현을 할 수 있습니다.</strong>
                <br>  거래 게시글에서 댓글기능을 이용하여 상대방과 연락할 수 있습니다. 개인정보관련 댓글은 삭제될수 있으니 주의해주세요.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <p class="qnatitle">Q: 상품 구매 시 안전을 보장받을 수 있나요?</p>
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>A: 거래 전에 상품의 상태를 확인하고, 공공장소에서 직거래를 진행하는 등 안전한 거래 방식을 선택하여 안전을 보장받을 수 있습니다. </strong>
                <br> 상품 구매 시에는 거래 전에 상품의 상태를 확인하고, 판매자의 신뢰도를 검토하세요. 또한, 공공장소에서 직접 상품을 거래하는 것과 같은 안전한 거래 방식을 선택하여 안전을 보장받을 수 있습니다.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <p class="qnatitle">Q: 상품의 반품 및 환불 절차는 어떻게 되나요?</p>
            </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>A: 구매한 상품은 개인 거래로 진행되므로 반품 또는 환불에 대한 처리는 판매자와 협의해야 합니다.</strong>
                <br>  개인 거래로 진행되는 상품의 경우, 반품 또는 환불에 대한 처리 방법은 판매자와 협의해야 합니다. 구매 전에 반품 및 환불 정책을 자세히 확인하고,
                판매자와 상의하여 반품 또는 환불에 대한 처리 방법을 합의하세요. 상호간의 합의에 따라 처리되는 점을 유의하세요.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                <p class="qnatitle">Q: 어떻게 상품의 상태를 확인할 수 있나요?</p>
            </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>A: 상품의 상태를 사진이나 설명을 통해 상태를 확인할 수 있습니다.</strong>
                <br>상품의 상태를 확인하려면 판매자가 제공하는 상품 페이지를 참고하세요. 거기에 상품의 상태 정보가 기재되어 있으며,
                상세한 사진이나 설명을 통해 실제 상태를 파악할 수 있습니다.
            </div>
        </div>
    </div>

</div>