{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container px-4 py-5">
    <div class="board_title">

        <div class="pb-2 border-bottom">
            <h2>고객센터<br>
                <p style="font-size:1.3rem">FAQ > 상품거래</p></h2>
            <strong>자주 묻는 질문 TOP 7</strong>

            <hr>
        </div>
    <div class="row">
        <!-- 성길씨 Q&A에서 가져옴. 그리드: 왼쪽 2/12(16.67%) 영역 -->
        <!-- class = left-menu 삭제 -->
       {% include 'custom/custom_menu.html'%}
        <section id="community" class="col-lg-8">
                <div class="board_bottom">
                    <ul class="nav nav-pills nav-justified">
                        <li class="nav-item">
                            <a class="nav-link" style="font-size: 1.4rem"  href="{% url 'custom:qnalist' %}">회원정보</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" style="font-size: 1.4rem" aria-current="page" href="{% url 'custom:qnalist2' %}">상품거래</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="font-size: 1.4rem" href="{% url 'custom:qnalist3' %}">커뮤니티</a>
                        </li>
                    </ul>
                    <div class="board_list_wrap">
                        {% include 'custom/qnalist_content2.html'%}
                    </div>
                </div>
        </section>
    </div>
</div>
</div>

   <script>
    // 아코디언바의 버튼 클릭 이벤트 처리
    const accordionButtons = document.querySelectorAll('.accordion-button');
    accordionButtons.forEach(button => {
        button.addEventListener('click', function () {
            // 버튼에 대응하는 아코디언바 내용 요소 찾기
            const collapse = button.getAttribute('data-bs-target');
            const collapseElement = document.querySelector(collapse);

            // 현재 아코디언바 상태 확인
            const isExpanded = button.getAttribute('aria-expanded') === 'true';

            // 현재 아코디언바가 열려 있는 경우 닫히도록 처리
            if (isExpanded) {
                button.setAttribute('aria-expanded', 'false');
                collapseElement.classList.remove('show');
            } else {
                // 다른 아코디언바 닫기
                accordionButtons.forEach(otherButton => {
                    const otherCollapse = otherButton.getAttribute('data-bs-target');
                    const otherCollapseElement = document.querySelector(otherCollapse);

                    if (otherCollapse !== collapse) {
                        otherButton.setAttribute('aria-expanded', 'false');
                        otherCollapseElement.classList.remove('show');
                    }
                });


            }
        });

        // 아코디언바 내용을 클릭하여도 닫히지 않도록 처리
        const collapseElement = document.querySelector(button.getAttribute('data-bs-target'));
        collapseElement.addEventListener('click', function (event) {
            event.stopPropagation();
        });
    });
</script>


{% endblock %}