{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="board_wrap">
        <div class="csboard-top">
            <p class="customer_center">고객센터</p>

        </div>


        <div class="board_title">
                <strong>자주 묻는 질문 TOP 10</strong>
            <h1>로그인 이용</h1>
        </div>
        <div class="board_bottom">
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                    <a class="nav-link"  href="{% url 'custom:qnalist' %}">회원로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="{% url 'custom:qnalist2' %}">상품판매</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'custom:qnalist3' %}">게시판 이용</a>
                </li>
            </ul>
            <div class="board_list_wrap">
                {% include 'custom/qnalist_content3.html'%}
            </div>
        </div>

    </div>
</div>
<script>
    // 아코디언바의 버튼 클릭 이벤트 처리
    const accordionButtons = document.querySelectorAll('.accordion-button');
    accordionButtons.forEach(button => {
        button.addEventListener('click', function () {
            // 버튼에 대응하는 아코디언바 내용 요소 찾기
            const collapse = button.getAttribute('data-bs-target');
            const collapseElement = document.querySelector(collapse);

            // 다른 아코디언바 닫기
            accordionButtons.forEach(otherButton => {
                if (otherButton !== button) {
                    const otherCollapse = otherButton.getAttribute('data-bs-target');
                    const otherCollapseElement = document.querySelector(otherCollapse);
                    const isExpanded = otherButton.getAttribute('aria-expanded') === 'true';

                    if (isExpanded) {
                        otherButton.setAttribute('aria-expanded', 'false');
                        otherButton.classList.add('collapsed');
                        otherCollapseElement.classList.remove('show');
                    }
                }
            });

            // 현재 아코디언바 상태 변경
            const isExpanded = button.getAttribute('aria-expanded') === 'true';
            button.setAttribute('aria-expanded', !isExpanded);
            button.classList.toggle('collapsed');
            if (isExpanded) {
                collapseElement.classList.remove('show');
            } else {
                collapseElement.classList.add('show');
            }
        });
    });
</script>



{% endblock %}

