{% extends 'base.html' %}
{% load static %}
{% block title %} 상세페이지입니다.
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'greenbooks/css/detail_style.css' %}">
    <!-- ======= 상세페이지 ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-8">
            <img src="{{ goods.image.url }}"> <!--책 이미지-->
          </div>
          <div class="col-lg-4">
            <div class="portfolio-info">
              <h2> {{ goods.name }}</h2> <!--책 제목-->
              <ul>
                <li><strong> 금액: ₩ {{ goods.price }} </strong> </li>
                <li><strong> 글쓴이 {{ goods.writer }}</strong></li>
                <li><strong> 재고 : {{ goods.stock }} 권</strong></li>
                <li><strong>test</strong></li>
                <li><strong>test</strong></li>
              </ul>
            </div>
            <div>
                <h2> 줄거리 : {{ goods.description }}</h2>
              <h4>※ 주의사항</h4>
              <p>
                -중고 거래 특성 상 환불 불가합니다. <br>
                -제품에 따라 오염 현상이 있습니다. <br>
                  불량이 아니므로 환불 불가합니다. <br>
                -실물 색상은 모니터와 휴대전화의 기종과 해상도에 따라 상이할 수 있습니다.<br>
                -품절시 재입고가 어려울 수 있습니다.<br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <h3> 한줄평 </h3>
    <hr>

<section>
    <div id = "left">
        <div class="speech-bubble">오랜만에 감명깊게 읽은책입니다
        ★★★★★★ <br>
        -이*연-</div>
        <div class="speech-bubble:after"></div>
        <br>
        <div class="speech-bubble">인생책이에요 추천합니다. ★★★★★★  <br>- 김*명 -</div>
        <div class="speech-bubble:after">
    </div>
    <br>
        <!-- thums-up image -->
    <div id="img">
        <img src="{% static 'greenbooks/images/girl.jpg' %}" alt = "미모티콘">
    </div>

    <div id="right">
        </div> <div class="right-bubble">오랜만에 감명깊게 읽은책입니다 ★★★★★★ <br> -경*진 -</div>
        <div class="right-bubble:after"></div>
        <br>
        <div class="right-bubble">소장용으로 한권 더 구매할 예정입니다. ★★★★★★  <br>- 고*현</div>
        <div class="right-bubble:after"></div>
        <br>
     </div>

</section>
    <!--<h3>****댓글예정****</h3> &lt;!&ndash;댓글 밑에 넣을예정&ndash;&gt;-->



{% endblock %}