{% extends 'base.html' %}
{% load static %}
{% block title %} 구매 페이지!!!!!!!!!!!1
{% endblock %}
{% block content %}
<body>

    <!--<div class="product-list">
        <h2> 상품구매</h2>
        <hr>
        &lt;!&ndash; 첫번째 &ndash;&gt;
        <div id="first-book">
        <a href="{% url 'goods:gdetail' 1 %}" class="product">
            {% for good in goods %}
                <img src="https://image.yes24.com/goods/117716170/XL" width="300"> &lt;!&ndash;사진들어가면 지워버릴예정&ndash;&gt;
            {{ goods.image }} &lt;!&ndash;책사진&ndash;&gt;
                <div class="product-name">
                    <h5> 1{{ good.name }}</h5> &lt;!&ndash;책제목&ndash;&gt;
                </div>
                <div class="product-price">
                    <h7>₩{{ good.price }}</h7> &lt;!&ndash;책 금액&ndash;&gt;
                </div>

            <div class="button-container">
                <button class="btn">상세보기</button>
            </div>
            {% endfor %}
        </a>
        </div>

        &lt;!&ndash; 두번째 &ndash;&gt;
        <div id="second-book">
        <a href="{% url 'goods:gdetail' 2 %}" class="product">
           {% for good in goods %}
            <img src="https://image.yes24.com/goods/117716170/XL" width="300"> &lt;!&ndash;사진들어가면 지워버릴 예정&ndash;&gt;
            {{ goods.image }} &lt;!&ndash;책사진&ndash;&gt;
                <div class="product-name">
                    <h5> 2{{ good.name }}</h5> &lt;!&ndash;책제목&ndash;&gt;
                </div>
                <div class="product-price">
                    <h7>₩{{ good.price }}</h7> &lt;!&ndash;책 금액&ndash;&gt;
                </div>

            <div class="button-container">
                <button class="btn">상세보기</button>
            </div>
            {% endfor %}
        </a>
        </div>

        &lt;!&ndash; 셋번째 &ndash;&gt;
        <div id="third-book">
        <a href="{% url 'goods:gdetail' 3 %}" class="product">
            {% for good in goods %}
            <img src="https://image.yes24.com/goods/117716170/XL" width="300"> &lt;!&ndash;사진들어가면 지워버릴 예정&ndash;&gt;
            {{ goods.image }} &lt;!&ndash;책사진&ndash;&gt;
                <div class="product-name">
                    <h5> 3{{ good.name }}</h5> &lt;!&ndash;책제목&ndash;&gt;
                </div>
                <div class="product-price">
                    <h7>₩{{ good.price }}</h7> &lt;!&ndash;책 금액&ndash;&gt;
                </div>

            <div class="button-container">
                <button class="btn">상세보기</button>
            </div>
            {% endfor %}
        </a>
        </div>




         &lt;!&ndash; 네번째 &ndash;&gt;
         <div id="fourth-book">
            <a href="#" class="product">
                {% for good in goods %}
                <img src="https://image.yes24.com/goods/117716170/XL" width="300">
                <div class="product-name">
                    메리골드 마음 세탁소
                </div>
                <div class="product-price">
                    13,500
                </div>
            </a>
            <div class="button-container">
                <button class="btn">상세보기</button>
            </div>
             {% endfor %}
        </div>-->


    <!--정리한 거-->

        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for good in goods %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!--이미지 db 넣어야 함-->
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ good.name }}</h5>
                                    <!-- Product price-->
                                    ₩{{ good.price }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'goods:gdetail' 1 %}">상세보기</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <!--두번째-->
                    {% for good in goods %}
                     <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!--이미지 db 넣어야 함-->
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ good.name }}</h5>
                                    <!-- Product price-->
                                    ₩{{ good.price }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'goods:gdetail' 4 %}">상세보기</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    {% for good in goods %}
                     <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!--이미지 db 넣어야 함-->
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ good.name }}</h5>
                                    <!-- Product price-->
                                    ₩{{ good.price }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'goods:gdetail' 3 %}">상세보기</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% for good in goods %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!--이미지 db 넣어야 함-->
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ good.name }}</h5>
                                    <!-- Product price-->
                                    ₩{{ good.price }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'goods:gdetail' 4 %}">상세보기</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% for good in goods %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!--이미지 db 넣어야 함-->
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ good.name }}</h5>
                                    <!-- Product price-->
                                    ₩{{ good.price }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'goods:gdetail' 5 %}">상세보기</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% for good in goods %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!--이미지 db 넣어야 함-->
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ good.name }}</h5>
                                    <!-- Product price-->
                                    ₩{{ good.price }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'goods:gdetail' 6 %}">상세보기</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% for good in goods %}
                   <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!--이미지 db 넣어야 함-->
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ good.name }}</h5>
                                    <!-- Product price-->
                                    ₩{{ good.price }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'goods:gdetail' 7 %}">상세보기</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% for good in goods %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!--이미지 db 넣어야 함-->
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ good.name }}</h5>
                                    <!-- Product price-->
                                    ₩{{ good.price }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'goods:gdetail' 8 %}">상세보기</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>


{% endblock %}