{% extends "base.html" %}
{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'greenbooks/css/bootstrap.css' %}">
    <meta charset="UTF-8">
    <title>회원정보</title>

    <style>
        #box1{height:50px;}
        a{text-decoration: none; color: black}

    </style>
</head>
<body class="m-5">
<div class="container text-center">
    <div class="d-flex flex-row mb-5">
        <div class="p-2 h3"><a href="{% url 'mypage:mypage' user.id %}">마이페이지</a></div>
        <div class="p-2 mx-5"><a href="{% url 'mypage:memberinfo' user.id %}">회원정보</a></div>
        <div class="p-2 mx-5"><a href="{% url 'mypage:mypost' %}">내가쓴글</a></div>
        <div class="p-2 mx-5"><a href="{% url 'mypage:cart' %}">장바구니</a></div>
        <div class="p-2 mx-5"><a href="{% url 'mypage:question' %}">고객상담</a></div>
    </div>

    <div class="text-center">
        <p><a href="{% url 'mypage:addcart' %}">헬로헬로</a></p>
    <table class="table table-hover">
        <tr>
            <td>상품이미지</td>
            <td>상품명</td>
            <td>상품 정보</td>
            <td>가격</td>
            <td>수량</td>
        </tr>
        {% for cart in cart_list %}
        <tr>
            <td><img  width="100" height="100" src="{{ cart.product.image.url }}"></td>
            <td>{{ cart.product.name }}</td>
            <td>{{ cart.product.description }}</td>
            <td>{{ cart.product.price }}</td>
            <td>{{ cart.quantity }}</td>
        </tr>
         {% endfor %}
    </table>
    </div>
</div>
</body>
{% endblock %}
{% block script %}
{% endblock %}