{% extends "base.html" %}
{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'greenbooks/css/bootstrap.css' %}">
    <meta charset="UTF-8">
    <title>회원정보</title>
    <style>
        #box1{height:50px;}
        a{text-decoration: none; color: black}

    </style>
</head>
<body class="m-5">
<div class="container text-center">
    <div class="d-flex flex-row mb-5">
        <div class="p-2 h3"><a href="{% url 'mypage:mypage' user.id %}">마이페이지</a></div>
        <div class="p-2 mx-5">회원정보</div>
        <div class="p-2 mx-5">내가쓴글</div>
        <div class="p-2 mx-5">장바구니</div>
        <div class="p-2 mx-5">고객센터</div>
    </div>
    <div class="">
        <form class="d-flex">
            <div class="mx-5">
                <label for="id" class="form-label">아이디</label>
                <input type="text" class="form-control" id="id">
                <button type="button" class="btn btn-outline-secondary">변경</button>
            </div>
            <div class="mx-5">
                <label for="pw" class="form-label">비밀번호</label>
                <input type="text" class="form-control" id="pw">
                <button type="button" class="btn btn-outline-secondary">변경</button>
            </div>
        </form>
    </div>
</div>
</body>
{% endblock %}