{% extends "base.html" %}
{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'greenbooks/css/bootstrap.css' %}">
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <style>
        #box1{height:50px;}
        a{text-decoration: none; color: black}
    </style>
</head>
<body class="m-5">
<div class="container">
    <div class="d-flex flex-row mb-3">
        <div class="p-2 h3"><a href="{% url 'mypage:mypage' user.id %}">마이페이지</a></div>
        <div class="p-2 mx-5"><a href="{% url 'mypage:memberinfo' user.id %}">회원정보</a></div>
        <div class="p-2 mx-5"><a href="{% url 'mypage:mypost' %}">내가쓴글</a></div>
        <div class="p-2 mx-5"><a href="">장바구니</a></div>
        <div class="p-2 mx-5"><a href="{% url 'mypage:memo_list' %}">메모장</a></div>
    </div>
    <div id="box1"></div>
    <table class="table text-center">
        <thead>
            <tr>
                <th>아이디</th>
                <th>닉네임</th>
                <th>가입일</th>
            </tr>
            <tr>
                <td>{{ member.username }} </td>
                <td>{{ member.last_name }}</td>
                <td>{{ member.date_joined }}</td>
            </tr>
        </thead>
    </table>

</div>
</body>
{% endblock %}