{% extends "base.html" %}
{% block content %}

{% load static %}
    <style>
        #box1{height:50px;}
        a{text-decoration: none; color: black}
    </style>
<body class="m-5">
<div class="container text-center">
    <div class="d-flex flex-row mb-5">
        <div class="p-2 h3"><a href="{% url 'mypage:mypage' user.id %}">마이페이지</a></div>
        <div class="p-2 mx-5"><a href="{% url 'mypage:memberinfo' user.id %}">회원정보</a></div>
        <div class="p-2 mx-5"><a href="{% url 'mypage:mypost' %}">내가쓴글</a></div>
        <div class="p-2 mx-5"><a href="{% url 'mypage:cart' %}">장바구니</a></div>
        <div class="p-2 mx-5"><a href="{% url 'mypage:question' %}">고객상담</a></div>
    </div>
<div class="container px-4 py-5">
    <section id="question">
            <div id="title">
                <h2 class="pb-2 border-bottom">고객상담</h2>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>번호</td>
                        <td>제목</td>
                        <td>작성자</td>
                        <td>작성일</td>
                        <td>조회</td>
                    </tr>
                </thead>
                <tbody>
                    {% if question_list %}
                        {% for question in question_list %}
                        <tr>
                            <td>{{ question.id }}</td>
                            <td>
                                <a href="">
                                    {{ question.title }}
                                </a>
                            </td>
                            <td>{{ question.author }}</td>
                            <td>{{ question.create_date }}</td>
                            <td>{{ question.views }}</td>
                        </tr>
                        {% endfor %}
                    <!-- post가 없으면 -->
                    {% else %}
                    <tr>
                        <td colspan="6" class="text-center">게시글이 없습니다.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        {% if user.is_authenticated %}
        <div id="btn_write" class="text-end">
            <a href="{% url 'mypage:question_post' %}" class="btn-a btn btn-primary">글쓰기</a>
        </div>
        {% endif %}
        </section>
</div>
</div>
</body>
{% endblock %}