{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container text-center">
    <section class="question_post w-auto">
        <h2 class="my-5">고객상담</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.media }}
            <input style="margin:0 auto;" type="text" name="title" class="form-control w-50 my-3"
                   placeholder="제목을 입력해주세요" value="{{ form.title.value|default_if_none:'' }}">
            {{ form.content }}
            {% if user.is_authenticated %}
            <div class="text-center mt-3">
                <div style="display:inline-block" class="">
                    <button type="submit" class="btn-a btn btn-primary">작성</button>
                </div>
                <div style="display:inline-block" class="">
                    <a href="{% url 'mypage:question' %}">
                        <button type="button" class="btn-a btn btn-primary">목록</button>
                    </a>
                </div>
            </div>
            {% endif %}
        </form>
    </section>
</div>


{% endblock %}