<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>고객센터</title>
    <link href="../../static/greenbooks/css/bootstrap.css" rel="stylesheet" >
    <link href="../../static/greenbooks/css/style.css" rel="stylesheet" >

</head>
<body>

  <!--body -->
  <div class="container-xxl">
    <div class="cs-contents">
        <div class>
        <div class="left-menu">
            <div>
              <div class="nav_c_b">
                <a href=""><h2>고객센터</h2></a>
              </div>
              <div class="nav_c">
                <a href=""><h4>Q&A</h4></a>
              </div>
              <div class="nav_c">
                <a href=""><h4>1:1 상담</h4></a>
              </div>
            </div>
        </div>
        <div class="right-menu">
            <div>
            <table>
                <!-- 다 잠금으로 -->

                <tr class="content_table_header">
                    <th  class="content_title">&nbsp 제목</th>
                    <th class="content_id">아이디</th>
                    <th class="content_hdate">작성일</th>
                    <th class="content_hstatus">상태</th>
                </tr>

                <tr class="content_customer">
                    <td class="cst_title" style="cursor: pointer"><img class="lockicon" src="../../static/greenbooks/img/lock.png">문의</td>
                    <td class="cst_id" style="cursor: pointer">ili****</td>
                    <td class="cst_date" style="cursor: pointer">2023.06.06</td>
                    <td class="cst_status" style="cursor: pointer">답변완료</td>
                </tr>



            <table>
            </div>
        </div>
        </div>

    </div>
  </div>

</body>
</html>