{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">최근 등록된 책</h2>

    <div class="align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <div class="list-group list-group-horizontal">
            <!--책제목-->
            <!--<h3 class="fw-bold mb-0 fs-4">돈의 속성</h3>-->
            <div style="" class="d-flex flex-wrap">
                {% if goods %}

                {% for good in goods %}


                <div class="">
                    <img style="width:200px;" class="mx-3 row px-3 py-4" src="{{ good.image.url }}" alt="책 사진(alt)"/>
                </div>

                {% endfor %}

                {% endif %}
            </div>
        </div>
    </div>
</div>
<div>
</div>
{% endblock %}