<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="../../static/greenbooks/css/css.css">
    <link href="../../static/greenbooks/css/bootstrap.css" rel="stylesheet">
    <link href="../../static/greenbooks/css/style.css" rel="stylesheet">
    <script src="../../static/greenbooks/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="board_wrap">
        <aside class="left-menu">
            <div class="flex-shrink-0 p-3 bg-white" style="width: 180px; font-size : 16px;">
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse"
                                data-bs-target="#home-collapse" aria-expanded="true">
                            <h3>고객센터</h3>
                        </button>
                        <div class="collapse show" id="home-collapse" style="">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">Q&A</a></li>
                                <li><a href="#" class="link-dark rounded">1:1문의</a></li>
                            </ul>
                        </div>

                </ul>
        </div>
        </aside>
        <div class="right-menu">
        <div class="board_title">
            <strong>Q&A</strong>
            <p>자주 묻는 질문</p>
        </div>
        <div class="board_list_wrap">
            <div class="board_list">
                <div class="top">
                    <div class="num">번호</div>
                    <div class="title">제목</div>
                    <div class="writer"></div>
                    <div class="date"></div>
                    <div class="count"></div>
                </div>
                <div>
                    <div class="num">5</div>
                    <div class="title"><a href="view.html"><img class="lockicon"
                                src="../../static/greenbooks/img/lock.png">
                        외국인은 어떻게 회원 가입을 할 수 있나요?</a></div>
                    <div class="writer">김이름</div>
                    <div class="date">2021.1.15</div>
                    <div class="count">33</div>
                </div>
                <div>
                    <div class="num">4</div>
                    <div class="title"><a href="view.html">
                        중고서적을 판매하려면 어떻게 등록해야 하나요?</a></div>
                    <div class="writer">김이름</div>
                    <div class="date">2021.1.15</div>
                    <div class="count">33</div>
                </div>
                <div>
                    <div class="num">3</div>
                    <div class="title"><a href="view.html">글 제목이 들어갑니다.</a></div>
                    <div class="writer">김이름</div>
                    <div class="date">2021.1.15</div>
                    <div class="count">33</div>
                </div>
                <div>
                    <div class="num">2</div>
                    <div class="title"><a href="view.html">글 제목이 들어갑니다.</a></div>
                    <div class="writer">김이름</div>
                    <div class="date">2021.1.15</div>
                    <div class="count">33</div>
                </div>
                <div>
                    <div class="num">1</div>
                    <div class="title"><a href="view.html">글 제목이 들어갑니다.</a></div>
                    <div class="writer">김이름</div>
                    <div class="date">2021.1.15</div>
                    <div class="count">33</div>
                </div>
            </div>
            <div class="board_page">
                <a href="#" class="bt first"><<</a>
                <a href="#" class="bt prev"><</a>
                <a href="#" class="num on">1</a>
                <a href="#" class="num">2</a>
                <a href="#" class="num">3</a>
                <a href="#" class="num">4</a>
                <a href="#" class="num">5</a>
                <a href="#" class="bt next">></a>
                <a href="#" class="bt last">>></a>
            </div>
            <div class="bt_wrap">
                <a href="write.html" class="on">등록</a>
                <!--<a href="#">수정</a>-->
            </div>
        </div>
        </div>
    </div>
</body>
</html> 