{% extends 'base.html' %}
<!-- 템플릿 필터 적용을 위해 추가 -->
{% load community_filter %}
{% load static %}
{%block title%} - 커뮤니티{%endblock%}
{% block content %}
<div class="container px-4 py-5">
    <!-- 공지사항 영역 -->
    <div id="announcement">
        <h2 class="pb-2 border-bottom">커뮤니티</h2>
        <p>공지사항: 독후감을 써주세요. 1등 회원에겐 상품을 드립니다.</p>
    </div>
    <!-- 그리드로 배치 -->
    <div class="row">
        <!-- 성길씨 Q&A에서 가져옴. 그리드: 왼쪽 2/12(16.67%) 영역 -->
        <!-- class = left-menu 삭제 -->
        <aside class="col-lg-2">
            <!-- class=p-3 bg-white style=width: 180px; 삭제 -->
            <div class="flex-shrink-0" style="font-size: 16px;">
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse"
                                data-bs-target="#home-collapse" aria-expanded="true">
                            <!-- 카테고리 눌렀다면 사이드바 큰 글씨로 -->
                            {% if current_category.slug %}
                            <h3>{{ current_category.slug }}</h3>
                            {% else %}
                            <!-- 카테고리를 누르지 않았다면 -->
                            <h3>전체글</h3>
                            {% endif %}
                        </button>
                        <div class="collapse show" id="home-collapse" style="">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <!-- 전체글 -->
                                <li><a href="{% url 'community:community' %}" class="link-dark rounded">전체글</a></li>
                                <!-- 카테고리 이름으로 리스트 설정 -->
                                {% for category in categories %}
                                <li><a href="{{ category.get_absolute_url }}" class="link-dark rounded">
                                    {{ category.name }}
                                </a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
        <!-- 그리드: 가운데 8/12(66.67%) 영역 -->
        <!-- 편집기 크기와 테이블 크기 맞춤 -->
        <section id="community" class="col-lg-8">
            <table id="commu-table" class="table table-hover">
                <thead>
                    <tr>
                        <td>번호</td>
                        <!-- 카테고리 추가 -->
                        <td>카테고리</td>
                        <td>제목</td>
                        <td>작성자</td>
                        <td>작성일</td>
                        <td>조회</td>
                        <td>추천</td>
                    </tr>
                </thead>
                <tbody>
                    <!-- post가 있으면 -->
                    {% if post_list %}
                        <!-- 각 post별로 모두 -->
                        {% for post in post_list %}
                        <tr>
                            <!-- 번호 -->
                            <!-- 템플릿 태그 -->
                            <td>
                                {{ post_list.paginator.count|sub:post_list.start_index|sub:forloop.counter0|add:1 }}
                            </td>
                            <!-- 카테고리 -->
                            <td>
                                {% if post.category %}
                                {{ post.category }}
                                {% endif %}
                            </td>
                            <!-- 제목: a태그로 연결 -->
                            <td>
                                <a href="{% url 'community:detail' post.id %}">
                                    {{ post.title }}
                                </a>
                            </td>
                            <!-- 작성자 -->
                            <td>{{ post.writer }}</td>
                            <!-- 작성일 -->
                            <!-- 오늘 작성된 글은 [오전/오후 hh:mm]으로 포맷변경 -->
                            {% if post.create_date|date:"Y-m-d" == today|date:"Y-m-d" %}
                                <td>{{ post.create_date|date:"A h:i" }}</td>
                            <!-- 오늘 글이 아니면 [yyyy.mm.dd]으로 포맷변경 -->
                            {% else %}
                                <td>{{ post.create_date|date:"Y.m.d" }}</td>
                            {% endif %}
                            <!-- 조회수 -->
                            <td>{{ post.views }}</td>
                            <!-- 좋아요 -->
                            <td>{{ post.count_liked_user }}</td>
                        </tr>
                        {% endfor %}
                    <!-- post가 없으면 -->
                    {% else %}
                    <tr>
                        <td colspan="6" class="text-center">게시글이 없습니다.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            <!-- 페이지 처리 영역 -->
            <ul class="pagination justify-content-center">
                <!-- 이전 페이지 -->
                {% if post_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ post_list.previous_page_number }}">
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="">
                {% endif %}
                        <i class="fa-solid fa-backward"></i>
                    </a>
                </li>
                <!-- 현재 페이지 -->
                {% for page_number in post_list.paginator.page_range %}
                    {% if page_number == post_list.number %}
                    <li class="page-item active">
                    {% else %}
                    <li class="page-item">
                    {% endif %}
                        <a class="page-link" href="?page={{ page_number }}">
                            {{ page_number }}
                        </a>
                    </li>
                {% endfor %}
                <!-- 다음 페이지 -->
                {% if post_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ post_list.next_page_number }}">
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="">
                {% endif %}
                        <i class="fa-solid fa-forward"></i>
                    </a>
                </li>
            </ul>
            <!-- 로그인시에만 글쓰기 버튼 보이게 -->
            {% if user.is_authenticated %}
            <!-- 마진탑 -->
            <div id="btn_write" class="text-end mt-3">
                <a href="{% url 'community:post_create' %}" class="btn-a btn btn-primary">글쓰기</a>
            </div>
            {% endif %}
        </section>
        <!-- 그리드: 오른쪽 2/12(16.67%) 영역 - 여백으로 남음 -->
    </div>
</div>
{% endblock %}