{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container px-4 py-5">
    <section id="post_form">
        <h2 class="pb-2 border-bottom">글남기기</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- 유효성 검사 -->
            {% include 'form_errors.html' %}
            <!-- 편집기 크기와 맞추려고 스타일 줌 -->
            <table class="table" style="width: 70%; margin: 0 auto;">
                <tr>
                    <!-- 카테고리 영역 -->
                    <td style="width: 20%;">
                        <!-- 셀렉트 옵션으로 카테고리 선택 -->
                        <select class="form-select" name="category" id="category">
                            <option value="" selected>카테고리</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                <!-- 제목 영역 -->
                    <td style="width: 80%">
                        <!-- 폼정보가있으면(수정시)title값, 없거나기본값은'' -->
                        <input type="text" class="form-control" name="title" id="title"
                               value="{{ form.title.value|default_if_none:'' }}" placeholder="제목을 입력해주세요">
                    </td>
                </tr>
                <!-- ck편집기 영역(내용, 첨부) -->
                <tr>
                    <td colspan="2">
                        {{ form.media }}
                        {{ form.description }}
                    </td>
                </tr>
            </table>
            <!-- 버튼 영역 -->
            <!-- 마진탑 -->
            <div id="btn" class="text-center mt-3">
                <button type="reset" class="btn btn-primary">취소</button>
                <a href="{% url 'community:community' %}" class="btn-a btn btn-primary">목록</a>
                <button type="submit" class="btn btn-primary">작성</button>
            </div>
        </form>
    </section>
</div>
{% endblock %}