{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container px-4 py-5">
    <section id="post_form">
        <h2 class="pb-2 border-bottom">글남기기</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- 유효성 검사 -->
            {% include 'form_errors.html' %}
            <table class="table">
                <!-- 제목 영역 -->
                <tr>
                    <td>
                        <!-- 폼정보가있으면(수정시)title값, 없거나기본값은'' -->
                        <input type="text" class="form-control" name="title" id="title"
                               value="{{ form.title.value|default_if_none:'' }}" placeholder="제목을 입력해주세요">
                    </td>
                </tr>
                <!-- 내용 영역 -->
                <tr>
                    <td>
                        <textarea class="form-control" name="content" id="content" rows="10"
                                  placeholder="내용을 입력해주세요">{{ form.content.value|default_if_none:'' }}</textarea>
                    </td>
                </tr>
                <!-- 첨부 영역 -->
                <tr>
                    <td>
                        <input type="file" name="attach" id="attach">
                    </td>
                </tr>
            </table>
            <!-- 버튼 영역 -->
            <div id="btn" class="text-center">
                <button type="reset" class="btn btn-primary">취소</button>
                <a href="{% url 'community:community' %}" class="btn-a btn btn-primary">목록</a>
                <button type="submit" class="btn btn-primary">작성</button>
            </div>
        </form>
    </section>
</div>
{% endblock %}