<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>고객센터</title>
    <link href="../../static/greenbooks/css/bootstrap.css" rel="stylesheet" >
    <link href="../../static/greenbooks/css/style.css" rel="stylesheet" >
</head>
<body>

  <!--body -->
  <div class="container-xxl">
    <div class="cs-contents">
        <div class>
        <div class="left-menu">
          <div class="menu-item">
            <h2>고객센터</h2>
          </div>
          <div class="menu-item">
            <h3>Q&A</h3>
          </div>
          <div class="menu-item">
            <h3>1:1 상담</h3>
          </div>
        </div>
        <div class="right-menu">
            <div class="post">
              <h3>게시글 1</h3>
              <p>게시글 내용...</p>
            </div>
            <div class="post">
            <h2>게시글 2</h2>
            <p>게시글 내용...</p>
            </div>
            <div class="post">
            <h2>게시글 3</h2>
            <p>게시글 내용...</p>
            </div>
        </div>
        </div>

    </div>
  </div>

</body>
</html>