<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그린 24{% block title %}{% endblock %}</title>     <!-- 제목을 넣으면 그린 24뒤에 뜨도록 -->
    <link rel="stylesheet" href="{% static 'greenbooks/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'greenbooks/css/style.css' %}">
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css"/>
    <script src="{% static 'greenbooks/js/bootstrap.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c33abba1b7.js" crossorigin="anonymous"></script>   <!-- 임시로 내꺼 넣어놓음 -->
</head>
<body>
{% include 'header.html' %}
{% block content %}
{% endblock %}
{% include 'footer.html' %}
{% block script %}
{% endblock %}
</body>
</html>