<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <h1>그린24</h1>
      </a>
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary"
        onclick="location.href='{% url 'index' %}'">홈</a></li>
        <li><a href="{% url 'goods:goods' %}" class="nav-link px-2 link-dark">구매하기</a></li>
        <li><a href="{% url 'tradebook:tradebook_list' %}" class="nav-link px-2 link-dark">중고책거래</a></li>
        <li><a href="{% url 'price:checkbookprice' %}" class="nav-link px-2 link-dark">책 가격조회</a></li>
        <li><a href="{% url 'community:community' %}" class="nav-link px-2 link-dark">커뮤니티</a></li>
        <li><a href="{% url 'custom:qnalist' %}" class="nav-link px-2 link-dark">고객센터</a></li>
      </ul>
      <div class="col-md-3 text-end">
        {% if user.is_authenticated %}
        <button type="button" class="btn btn-primary"
        onclick="location.href='{% url 'mypage:mypage' user.id %}'">마이페이지</button>

        <button type="button" class="btn btn-primary"
        onclick="location.href='{% url 'common:logout' %}'">{{ user.username }} 로그아웃</button>
        {% else %}
        <button type="button" class="btn btn-outline-primary me-2"
        onclick="location.href='{% url 'common:login' %}'">로그인</button>
        <button type="button" class="btn btn-primary"
        onclick="location.href='{% url 'common:register' %}'">회원가입</button>
        {% endif %}
      </div>
    </header>
  </div>