{% load static %}
<link rel="stylesheet" href="{% static 'C:\myproject\GreenProject\static\greenbooks\css\bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'C:\myproject\GreenProject\static\greenbooks\css\style.css' %}">
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <h1>그린24</h1>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">홈</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">커뮤니티</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">마이페이지(로그인시)</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">고객센터</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2">로그인</button>
        <button type="button" class="btn btn-primary">회원가입</button>
      </div>
    </header>
  </div>